*{
    font-family: 'Segoe UI';
    margin: 0%;
    padding: 0%;

}

header{
    width: 100%;
    display: inline-block;
    padding-bottom: 0.5%;
      align-items: center; 
}
header img{
    width: 8%;
    padding-left: 12%;
    padding-right: 30%;
    float: left;
    margin-right: 2%; 
}
nav ul li{
    float: left;
    padding: 0.5%;
    margin-left:0.5%;
    list-style: none;
    font-family: 'Segoe UI';
    margin-top: 2.6%;
    background-color: #299900;
    border-radius: 10px 10px 10px 10px;
}
nav ul li a:visited {
  color: white; 
  text-decoration: none;
}
nav ul li a {
  color: white; 
  text-decoration: none;
}
.botonAmarillo{
    background-color:#feea34;
}
.botonAmarillo a{
    color: black;
}
.botonAmarillo a:visited{    
    color: black;
}








footer{
    background-color: #299900;
    margin-top: 2%;
    padding-bottom: 5%;
}
footer h2{
    padding-top: 1.3%; 
    padding-bottom: 1.3%;
    padding-left: 5%;
}
footer hr{
    width: 90%;
    margin: auto;
}
footer h3{
    padding-left: 6%;
    padding-bottom: 1%; 
}
footer div{
    margin-top: 1%;
}
footer a{
    color:#feea34
}
footer a:visited{
    color: #feea34;
}
footer img{
    width: 2.5%;
    float :right;
    margin: 1%;
    vertical-align: middle;
}
footer div:last-of-type {
    text-align: right;
    padding-right: 2%;
}


/*PREGUNTAS INTRO*/
.intro h1{
    text-align: center;
    font-size: 200%;
}
.intro h2{
    text-align: center;
    margin-bottom: 2%;
    font-size: 100%;
}
.intro hr{
    width: 90%;
    margin: auto;
    margin-top: 3%;
}
/*DESTACADOS*/
.index section h1{
    color: #feea34;
    text-align: center;
    font-size: 300%;
    padding: 3%;
    padding-top: 2%;
}
.index section div{
    padding-left: 10%;
    padding-right: 10%;
}
.index section div img{
    width:50%;
    float: left;
    margin-right: 2%;
}
.index section div h2{
    color: #5d3322	;
    font-size: 100%;
    padding-top: 1%;
}
.index section div h1{
    color: #299900;
    font-size: 250%;
    text-align: left;
    margin-bottom: 2%;
    padding: 0%;
}
.index div{
    clear: both;
}
.index section div hr{
margin-bottom: 1%;
}
/*SPONSORS*/
.sponsors h3{
text-align: center;
margin-bottom: 1.6%;
margin-top: 3%;
}
.sponsors img{
    width: 100%;
}

.personas {
    display: flex;
    justify-content: center;
    gap: 3%; 
}

.personas div {
    float: left;
    width: 20%;
    margin: 3%;

}
.personas img{
    width: 100%;
    border-radius: 50%;
}
.personas h3{
    font-size: 90%;
    text-align: center;
}